@using WebApplication6.ViewModels
@model RezervacijaTerminiVM

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout1";

}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<h5>Slobodni termini kod @Model.ImeUposlenika </h5>

<table class="table table-striped">
    <thead>
        <tr>


            <th>Vrijeme termina</th>
            <th>Akcija</th>
        </tr>


    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {

            <tr>

                <td>@x.VrijemeTermina</td>
               
                <td>
                    <a asp-controller="Rezervacija" asp-action="Dodaj" asp-route-id="@x.TerminID" class="btn btn-outline-success"><i class="far fa-calendar-plus"></i> Rezervisi</a>
                   
                </td>



            </tr>

        }



    </tbody>



</table>



