@using WebApplication6.ViewModels
@model RezervacijaUposlenikVM
@{
    ViewData["Title"] = "OdaberiKorisnik";
    Layout = "_Layout";

}


<head>
    <style>
        div.polaroid {
            width: 25%;
        }

        div.container {
            text-align: center;
            padding: 10px 20px;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"> Pocetna </li>

    <li class="breadcrumb-item active">

        Recenzije
    </li>
</ol>
<div text-align:center">

    <table style="text-align:center;" class="table table-bordered dataTable" id="dataTable">





        <tbody>
            @foreach (var x in Model.rows)
            {




                <tr>


                    <td>
                        <div class="polaroid">
                            <img src="@x.Slika" style="width:60%">
                            <div class="container" style="display:inline-block;">
                                <p>@x.ImePrezime</p>

                                <div>
                                    <a asp-controller="Komentar" asp-action="KorisnikIndex" asp-route-id="@x.UposlenikID" class="btn btn-secondary"> Pregledaj recenzije</a>
                                </div>
                            </div>




                        </div>


                    </td>


                </tr>





            }
        </tbody>

    </table>
</div>




