@using WebApplication6.ViewModels
@model UposlenikUrediVM
@{
    ViewData["Title"] = "Dodaj";
    Layout = "_Layout";


}
@if (Model.KorisnikId != 0)
{
    <h4>Uredi podatke o uposleniku</h4>

}
else
{
    <h5 style="text-align:center">Novi uposlenik</h5>


}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<style>
    input[type=submit] {
        width: 80%;
        color: white;
        padding: 10px 15px;
        margin-left: 10%;
        margin-bottom: 1%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .formDiv {
        border: 1px solid white;
        padding: 3%;
        border-radius: 10px;
        background-color: white;
        margin: 10%;
        margin-top: 0%;
        margin-bottom: 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<hr />
<div class="formDiv">
    @Html.AntiForgeryToken()
    <form asp-action="Snimi" method="post" enctype="multipart/form-data">
        <input asp-for="KorisnikId" hidden />
        <div class="form-group">
            <label>Ime</label>
            <input asp-for="Ime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Prezime</label>
            <input asp-for="Prezime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Telefon </label>
            <input asp-for="Telefon" class="form-control" />
        </div>
        <div class="form-group">

            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Korisnicko ime</label>
            <input asp-for="KorisnickoIme" class="form-control" />
        </div>

        <div class="form-group ">
            <label>Lozinka</label>
            <input asp-for="Lozinka" class="form-control" type="password" />
        </div>
        <div class="form-group row" style="width:25%">
            <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
        </div>

        <br />

        <input type="submit" value="Snimi" class="btn btn-secondary" />
    </form>
</div>

<script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
</script>

